*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family:'Poppins';
}

* img{
  max-width:100%;
  border-radius:5px;
}

.main-content{
 display:flex; 
 max-width: 100%; 
 padding:10px; 
  border-radius: 5px;
  color:#333;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.column {
  flex: 50%;
  padding:5px;
}

.row-appearance {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.nav-row{
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.column-appearance {
  flex: 50%;
  padding:5px;
  margin-left: 50px;
  margin-right: 50px;
}

header{
  width: 100%;
  height: 100px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  background-color: #f3e0d1;
}


header .inner{
  width: 100%;
  max-width: 1080px;
  height: 100%;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  height: 100%;
}

header .logo div{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img{
  height: 90px;
  margin-top: 5px; /* Optical alignment of the logo */
}

header nav{
  height: 100%;
}

header nav li{
  display: flex;
  height: 100%;
  float: left;
  margin-right: 30px;
}

header nav li:last-of-type{
  margin-right: 0;
}

header nav span {
  display: flex;
 align-items: center;
  font-size: 18px;
}

header nav a{
  color:#333;
}

header nav a:hover{
  -webkit-transition:color 300ms ease-in-out;
  -moz-transition:color 300ms ease-in-out;
  color: #95731e;
}

/* Banner */
.banner-image{
  width: 100%;
  height: auto;
}

.title {
	text-align: center;
	font-size: 50px;
	display: block;
	padding-top: 50px;
}

.title-text{
  text-align: center;
}

.myth-img{
  text-align: center;
}

.myth-text{
  color:#333;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
}

.jag-video{
  text-align: center;
}

/* Quiz part starts */
/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  position: relative;
  width:900px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.quiz-body {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 55vh;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}


.quiz-container {
  width: 800px;
  max-width: 80%;
  background-color:RGB(248, 253, 137);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #f3e0d1;
}

.result-box {
  text-align: center;
  color: black;
  gap: 5px;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: bold;
}

.qn1 {
  font-weight: bold;
}


.btn-grid{
 display: grid;
 grid-template-columns: repeat(2, auto);
 justify-content: center;
 align-items:center;
 gap: 10px;
 margin: 10px 2px;
}

.btn {
  background-color: lightblue;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
  margin: 0 2px;
}

.btn:hover{
  border-color: orange;
  background-color: #e6c166;
}

.btn.correct{
  background-color: greenyellow
}

.btn.incorrect {
  background-color:orangered;
}

.start-btn, .next-btn{
  font-weight: bold;
  margin: 0 5px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items:center;

}

.hide{
  display:none;
}

/* index page buttons */
.title {
	text-align: center;
	font-size: 50px;
	display: block;
	padding-top: 50px;
}

/* Buttons */
.about{
  margin-bottom: -140px;
}
.about .text{
  padding-top: 12px;
}
.about .text .aboutContent h3{
  font-size: 2.5rem;
  color:#333;
  margin-left: 500px;
}

.about .text .aboutContent h4{
  font-size: 2.5rem;
  color:#333;
  margin-left: 500px;
}

.about .text .aboutContent h5{
  font-size: 2.5rem;
  color:#333;
  margin-left: 500px;
}

.about .text .aboutContent p{
  font-size: 1.2rem;
  color:#707B7C  ;
  padding-top: 5px;
  line-height: 1.5;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}

.navbtns{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  padding-top: 50px; 
  margin-top: 8%;
}

.navbtns-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.navbtns-col img{
  width: 100%;
  height: auto;
  display: block;
}

.navlayer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.navlayer:hover{
  background: #f9d7be4e; 
}

.navlayer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transform: 0.5s;
}

.navlayer:hover h3{
  bottom: 49%;
  opacity: 1;
}

.useful-links{
  position: relative;
  text-align: center;
  margin: 2%;
  line-height: 150%;
}

.useful-links a{
 color: #333;
}

.useful-links a:hover{
  color: #e6c166;
}

/* footer */

footer{
  background: #f3e0d1;
  height: auto;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-size: 24px;
  color:#333;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 16px;
  color:#333;
}

.footer-bottom{
  background: #e9cfbb;
  width: 100%;
  padding: 20px 0;
  text-align:  center;

}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color:#333;
}

/* media queries  */

@media (max-width:1200px){

}

@media (max-width:991px){
  .quiz-body {

  }
}

@media (max-width:768px){
  .quiz-body {

  }
}

@media (max-width:450px){
  .quiz-body {

  }

}
