*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family:'Poppins';
}

header{
  width: 100vw;
  height: 100px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  background-color: #f3e0d1;
}

header .inner{
  width: 1300px; 
  height: 100%;
  display: block;
  margin: 0 auto;
}

header .logo{
  display: table;
  height: 100%;
  float: left;
}

header .logo div{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

header .logo img{
  height: 90px;
  margin-top: 5px; /* Optical alignment of the logo */
}

header nav{
  float: right;
  height: 100%;
}

header nav li{
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px;
}

header nav li:last-of-type{
  margin-right: 0;
}

header nav span {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
}

header nav a{
  color: #101010;
}

header nav a:hover{
  -webkit-transition:color 300ms ease-in-out;
  -moz-transition:color 300ms ease-in-out;
  color: #95731e;
}


/* Banner image styles */
.banner-image{
  height: 700px;
  width: 100%;
  display: block;
}

/* Quiz part starts */

.quiz-body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 55vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  
}

.quiz-container {
  width: 800px;
  max-width: 80%;
  background-color:RGB(248, 253, 137);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #f3e0d1;

}

.result-box {
  text-align: center;
  color: black;
  gap: 5px;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: bold;
}

.qn1 {
  font-weight: bold;
}


.btn-grid{
 display: grid;
 grid-template-columns: repeat(2, auto);
 justify-content: center;
 align-items:center;
 gap: 10px;
 margin: 10px 2px;
}

.btn {
  background-color: lightblue;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
  margin: 0 2px;
}

.btn:hover{
  border-color: orange;
  background-color: #e6c166;
}

.btn.correct{
  background-color: greenyellow
}

.btn.incorrect {
  background-color:orangered;
}

.start-btn, .next-btn{
  font-weight: bold;
  margin: 0 5px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items:center;

}

.hide{
  display:none;
}


/* footer */

footer{
  background: #f3e0d1;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-size: 24px;
  color: black;

}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 16px;
  color: black;
}

.footer-bottom{
  background: #e9cfbb;
  width: 100vw;
  padding: 20px 0;
  text-align:  center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: black;
}



/* media queries  */

@media (max-width:1200px){

}

@media (max-width:991px){
  .quiz-body {
    width: 80vw;
    height: 55vh;
  }
}

@media (max-width:768px){
  .quiz-body {
    width: 60vw;
    height: 50vh;
  }
}

@media (max-width:450px){
  .quiz-body {
    width: 40vw;
    height: 50vh;
  }

}
