*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family:'Poppins';
}

* img{
  max-width:100%;
  border-radius:5px;
}

.main-content{
 display:flex; 
 max-width: 100%; 
 padding:10px; 
  border-radius: 5px;
  color:#333;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.column {
  flex: 50%;
  padding:5px;
  margin-left: 50px;
  margin-right: 30px;
}

header{
  width: 100%;
  height: 100px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  background-color: #f3e0d1;
}

header .inner{
  width: 100%;
  max-width: 1080px;
  height: 100%;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  height: 100%;
}

header .logo div{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img{
  height: 90px;
  margin-top: 5px; /* Optical alignment of the logo */
}

header nav{
  height: 100%;
}

header nav li{
  display: flex;
  height: 100%;
  float: left;
  margin-right: 30px;
}

header nav li:last-of-type{
  margin-right: 0;
}

header nav span {
  display: flex;
 align-items: center;
  font-size: 18px;
}

header nav a{
  color:#333;
}

header nav a:hover{
  -webkit-transition:color 300ms ease-in-out;
  -moz-transition:color 300ms ease-in-out;
  color: #95731e;
}

/* Banner */
.banner-image{
  width: 100%;
  height: auto;
}

.title {
	text-align: center;
	font-size: 50px;
	display: block;
	padding-top: 50px;
}

.title-text{
  text-align: center;
}

.myth-img{
  text-align: center;
}

.myth-text{
  color:#333;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
}

.jag-video{
  text-align: center;
}

/* Quiz part starts */

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  position: relative;
  width:900px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.quiz-body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 55vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  color:#333;
}

.quiz-container {
  width: 800px;
  max-width: 80%;
  background-color:RGB(248, 253, 137);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #f3e0d1;
}

.result-box {
  text-align: center;
  color: black;
  gap: 5px;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: bold;
}

.qn1 {
  font-weight: bold;
}


.btn-grid{
 display: grid;
 grid-template-columns: repeat(2, auto);
 justify-content: center;
 align-items:center;
 gap: 10px;
 margin: 10px 2px;
}

.btn {
  background-color: lightblue;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
  margin: 0 2px;
}

.btn:hover{
  border-color: orange;
  background-color: #e6c166;
}

.btn.correct{
  background-color: greenyellow
}

.btn.incorrect {
  background-color:orangered;
}

.start-btn, .next-btn{
  font-weight: bold;
  margin: 0 5px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items:center;

}

.hide{
  display:none;
}


/* footer */

footer{
  background: #f3e0d1;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
  left: 0;
  bottom: 0;



  
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-size: 24px;
  color:#333;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 16px;
  color:#333;
}

.footer-bottom{
  background: #e9cfbb;
  width: 100%;
  padding: 20px 0;
  text-align:  center;

}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color:#333;
}



/* media queries  */

@media (max-width:1200px){

}

@media (max-width:991px){
  .quiz-body {
    width: 80vw;
    height: 55vh;
  }
}

@media (max-width:768px){
  .quiz-body {
    width: 60vw;
    height: 50vh;
  }
}

@media (max-width:450px){
  .quiz-body {
    width: 40vw;
    height: 50vh;
  }

}
