* { font-family: sans-serif;}

body {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.quiz-container {
    width: 800px;
    max-width: 80%;
    background-color:RGB(248, 253, 137);
    border-radius: 5px;
    padding:10px;
    text-align: center;
}

.btn-grid{
   display: grid;
    justify-content: center;
    align-items:center;
   gap: 10px;
   margin: 10px 0;
}

.btn {
    background-color: lightblue;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.btn:hover{
    border-color: orange;
}

.btn.correct{
    background-color: greenyellow
}

.btn.incorrect {
    background-color:orangered;
}

.start-btn, .next-btn{
    font-weight: bold;
    margin: 0 5px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items:center;

}

.hide{
    display:none;
}